body
{
  background-color: #495da7;
}
div.Formulaire
{
  background-color: #FFFFFF;
  width:  500px;
  height: 500px;
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 1%;
  border-radius: 20px;
}
